/*===============================================*/
/*    VARIABLES REUTILIZABLES                    */
/*===============================================*/
:root { 
  --azulclaro: #37417f;
  --azuloscuro: #1c203d;
  --black: #000000;
  --blanco: #fcfdfd;
  --celeste: #7480c5;
  --celesteclaro: #ebeeff;
  --grisoscuro: #9c9c9c;
  --negro: #00050a;
  --white: #ffffff;
 
  --font-size-l: 17px;
  --font-size-m: 16px;
  --font-size-s: 12px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;
  --font-size-xxxl: 36px;
 
  --font-family-andalusia_script-regular: "Andalusia Script-Regular", Helvetica;
  --font-family-montserrat: "Montserrat", Helvetica;
  --font-family-rouge_script-regular: "Rouge Script", Helvetica;
  --font-family-cookie: "cookie", cursive;
}
body {
  margin: 0 0;
}

/* --- TITULOS Y TEXTOS --- */
.textoGeneralBlanco{
  color: var(--blanco);
  font-family: var(--font-family-montserrat);
}

.cookieScript { 
  font-family: var(--font-family-cookie);
}
/* --- CONTEDENOR Y FONDOS --- */
.contenedor {
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.alinearArriba {
  align-items: flex-start;
}
.contenedorDoble {
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.gridContenedorSimple{
  align-items: center;
}
.bgAzul {
  background-color: var(--azuloscuro);
  color: var(--blanco);
}
.bgBlanco {
  background-color: var(--blanco);
  color: var(--black);
}
/* --- LINK --- */
.linkTexto{
  color: VAR(--celeste);
}
.linkTexto:hover{
  color: var(--azulclaro);
  cursor: pointer;
}

/*===============================================*/
/*    HEADER                                     */
/*===============================================*/

/* --- NAVEGADOR --- */
#nav {
  padding-bottom: 0;
}
.top_menu{
  height: 44px;
  letter-spacing: 0;
  
  display: flex;
  justify-content: right;
  text-align: center;
  font-family: var(--font-family-montserrat);
  font-weight: 600;
  font-size: var(--font-size-m);
  margin: 0 auto;

}
.top_menu ul{
  margin: 0 auto;
}
.top_menu li {
  height: 44px;
  width: 120px;
  line-height: 44px;
}
.top_menu li:hover{
  color: var(--celeste);
}



.top_menu a {
  text-decoration: none;
  color: var(--celesteclaro);
}
.top_menu li:hover a {
  text-decoration: none;
  color: var(--celeste);
}
#navegador li {
  list-style: none;
}
/* --- LOGO HEADER --- */

/*===============================================*/
/*    PORTADA */   
.contenedor {
  width: 100%;
  max-width: 1200px; /* Ajustar? */
  margin: 0 auto;
  padding: 20px;
}


#portada {
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: url(../img/rectangle-2.png);
  
}

.pieDeBanner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.elementoPortada1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  font-family: var(--font-family-montserrat);
}

.elementoPortada1 h1 {
  margin: 0;
  font-size: var(--font-size-xxl);
  font-weight: bold;
}

.elementoPortada1 p {
  margin: 10px 0 0;
  font-family: var(--font-family-cookie);
  font-size: var(--font-size-xl);
}


.elementoPortada2 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  
}

.elementoPortada2 img {
  max-width: 50%;
  height: auto;
  margin-top: 300px;
  
}




/*===============================================*/



/* --- IMAGEN FONDO --- */

/* --- PIE E IMAGEN LOGO PORTADA --- */

/*===============================================*/
/*    NOSOTROS                                   */
/*===============================================*/
.textoAzulClaro {
  color: var(--azulclaro);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  text-align: center;

}
.textoGeneralNegro{
  color: var(--negro);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
}
.spancargos{
  color: var(--azulclaro);
  font-weight: bold;
}

h4.celesteClaro {
  color: var(--azulclaro);
  
  
}
h4.textTitulares{
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  padding-top: 20px;
  padding-bottom: 20px;
}
section.textoNombresCargos {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  
}
section.textDosColumnas{
  -webkit-column-count: 2; 
  -moz-column-count: 2; 
  column-count: 2;
}

/*===============================================*/
/*    ACCIONES                                   */
/*===============================================*/
.boxDoble {
  flex-basis: calc(50% - 10px);
  margin-bottom: 20px;
  font-family: var(--font-family-montserrat);
}
.alinearArriba {
  vertical-align: top;
}
.textoCelesteClarito{
  color:var(--celesteclaro);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  text-align: center;
}
.textoCelesteClaro{
  color:var(--celesteclaro);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xl);
  
}

/*===============================================*/
/*   VER QUE EN ACCIONES NO QUEDA BIEN DIVIDIDO POR 2 COLUMNAS   */



/*===============================================*/
/*    SOCIOS/AS                                  */
/*===============================================*/
/* --- BOTONES --- */
.botonPrimario {
  background-color: var(--azulclaro);
  color: var(--blanco);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 10px 30px;
  border: 1.5px solid var(--azulclaro);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight:600;
  transition: all 0.2s ease;
 
  
}
.botonPrimario:hover,
.botonPrimario:focus {
  cursor: pointer;
  background-color: var(--celeste);
  box-shadow: inset 0px 2px 6px rgba(28, 32, 61, 0.71);
}
.botonSecundario {
  background-color: var(--blanco);
  color: var(--azulclaro);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 10px 30px;
  border: 1.5px solid var(--azulclaro);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight:600;
  transition: all 0.2s ease;
}
.botonSecundario:hover,
.botonSecundario:focus {
  cursor: pointer;
  box-shadow: inset 0px 2px 6px rgba(28, 32, 61, 0.71);
  background-color: var(--celesteclaro);
}

/* --- MODAL ASOCIATE --- */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.modal-contenido {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--blanco);
  padding: 20px;
  border: 1px solid #888;
  text-align: center;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
}
.cerrar-modal {
  float: right;
  padding: 0 10px;
  font-size: var(--font-size-xl);
}
.cerrar-modal:hover,
.cerrar-modal:focus {
  cursor: pointer;
}
#modalSocios {
  border: 1px solid black;
}
.oscurecer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

/*===============================================*/
/*    CAMPAÑAS      */      

.boxDoble img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px; 
  border: 1px solid #000;
}
/*===============================================*/

/*===============================================*/
/*    CONTACTO                                   */
/*===============================================*/

/* --- BOTON REDES --- */
.redesSociales {
  display: flex;
  justify-content: left;
  gap: 10px;
}  

.botonRedes {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  border: 1px;
  background-color: var(--azulclaro);
  color: var(--blanco);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: var(--font-family-montserrat);
  border-radius: 50%; /* Hace que el botón sea redondo */
}

.botonRedes:hover {
  background-color: var(--celeste);
}

/* --- DISTRIBUCIÓN LINEAL --- */
.redesSociales {
  display: flex;
  justify-content: left;
  gap: 10px;
}
/* --- FORMULARIO --- */
#consultaEnsam input {
  width: 80%;
  height: 27px;
  border-radius: 10px;
  padding: 5px 10px;
  border: 1.5px solid var(--azulclaro);
  font-family: var(--font-family-montserrat);
}
#consultaEnsam textarea {
  width: 80%;
  border-radius: 10px;
  padding: 5px 10px;
  border: 1.5px solid var(--azulclaro);
  font-family: var(--font-family-montserrat);
}
input::placeholder {
  color: var(--celeste);
}
textarea::placeholder {
  color: var(--celeste);
}
#consultaEnsam select{
  width: 84%;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1.5px solid var(--azulclaro);
  font-family: var(--font-family-montserrat);
}
#consultaEnsam label {
  font-size: medium;
}
#consultaEnsam button {
  margin: 0 auto;
  display: block;
}




/*===============================================*/
/*    FOOTER                                     */
/*===============================================*/
a.linksFooter {
font-family: var(--font-family-montserrat);
font-size: var(--font-size-l);
}









