/*===============================================*/
/*     Mobile, Tablet                            */
/*===============================================*/
@media (max-width:1200px){
  #portada {
    min-height: 50vh; 
  }
}
@media (max-width: 1024px) {
  #navegador {
    display: none;
  }  
}
@media (max-width:1100px){
	.contenedor {
		max-width: 900px;
	}
}
@media (max-width:850px){
	.contenedor {
		padding-left: 20px;
    padding-right: 20px;
	}
  .header-flex {
    padding: 5px;
  }
  .textDosColumnas p{
    margin: 0;
  }
}

@media (min-width: 1025px) {
  #hamburguer-btn {
    display:none;
  }
}







/*===============================================*/
/*     Mobile, Tablet                            */
/*===============================================*/
/*@media (max-width:1200px){
  #portada {
    min-height: 50vh; 
  }
}
@media (max-width: 1024px) {
  #navegador {
    display: none;
  }  
}
@media (max-width:1100px){
	.contenedor {
		max-width: 900px;
	}
}
@media (max-width:850px){
	.contenedor {
		padding-left: 20px;
    padding-right: 20px;
	}
  .header-flex {
    padding: 5px;
  }
}

@media (min-width: 1025px) {
  #hamburguer-btn {
    display:none;
  }
}


.textDosColumnas p{
  margin: 0;
}


/*@media (max-width: 768px) {
    .contenedorDoble {
      flex-direction: column;
    }
    
    .boxDoble {
      flex-basis: 100%;
    }
    #portada {
      min-height: 50vh; 
    }
    @media (max-width: 768px) {
      .pieDeBanner {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        align-items: center;
         text-align: center;
  }
}
    @media (max-width: 768px) {
      .elementoPortada2 img {
        max-width: 70%;
        }
      }
    }

    